<td><%= link_to 'Ver', link(process, damage_sample),  class: "btn btn-primary btn-xs" %></td>
<%if access_edit_delete_sample_button%>
  <td><%= link_to 'Editar', edit_link(process, damage_sample),  class: "btn btn-warning btn-xs" %></td>
  <td><%= link_to 'Eliminar', link(process, damage_sample), method: :delete, data: { confirm: '¿Seguro que deseas eliminar la muestra?' },  class: "btn btn-danger btn-xs" %></td>
<%end%>
