
<% if @damage_sample.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@damage_sample.errors.count, "error") %> prohibited this damage_sample from being saved:</h2>
  <ul>
    <% @damage_sample.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class= "container-samples">
  <div class= "pestaña"><%=@process.capitalize%></div>
  <div class="outside-new-form green-outside-new-form">
    <h1><span class= "glyphicon glyphicon-list-alt"></span> Editar daños</h1>
    <%= render "form", damage_sample: @damage_sample, form: "edit" %>
    </div>
</div>
