<h1>Editing Secado Caliber Sample</h1>

<%= render 'form', secado_caliber_sample: @secado_caliber_sample %>

<%= link_to 'Show', @secado_caliber_sample %> |
<%= link_to 'Back', secado_caliber_samples_path %>
