<div class= "container-samples">
    <div class="outside-new-form">
      <h1> Editar Producto</h1>

      <div class="inside-new-form">

        <%= render 'form', element: @element %>
        <br>
        <%= link_to 'Ver', @element%> |
        <%= link_to 'Atrás', :back %>
      </div>
    </div>
</div>
<br>
