<h1>Editing Calibrado Caliber Sample</h1>

<%= render 'form', calibrado_caliber_sample: @calibrado_caliber_sample %>

<%= link_to 'Show', @calibrado_caliber_sample %> |
<%= link_to 'Back', calibrado_caliber_samples_path %>
