<div class= "container">
  <div class= "pestaña">Laboratorio</div>
    <div class="outside-new-form">
      <h1><span class= "glyphicon glyphicon-list-alt"></span> Sorbato</h1>
      <%= render 'form', sorbate_sample: @sorbate_sample %>
    </div>
  </div>
</div>
<%= link_to 'Todas las muestras de Sorbato', sorbate_samples_path %>
