
<% if form_type == "new" %>
  <div class="actions">
    <%= f.submit "Guardar",  class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% else%>
  <div class="buttons-together-edit">
    <%= @test_variable%>
    <%= link_to 'Regresar', send("new_"+@process+"_"+@sample_name+"_sample_path", process:@process), class: "btn-back btn btn-primary btn-lg "%>
    <%= f.submit "Editar", class: "btn-edit btn btn-warning btn-lg" %>
  </div>
<% end %>
