<li class="dropdown">
  <a class="<%="dropdown-toggle " + is_laboratorio()%>" data-toggle="dropdown" href="#">Laboratorio<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%=link_to 'Humedad', new_humidity_sample_path%></li>
    <li><%=link_to 'Humedad grupal', new_group_humidity_sample_path%></li>
    <li><%=link_to 'Sorbato', new_sorbate_sample_path%></li>
  </ul>
</li>
