<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">#Recepción Sol#<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <!-- FIXME Agregar que tipo de daño y calibre es -->
    <li><%=link_to 'Daños(no implementado)' %></li>
    <li><%=link_to 'Calibre(no implementado)'%></li>
  </ul>
</li>
