<li class="dropdown">
  <a class="<%="dropdown-toggle " + selected("tcc")%>" data-toggle="dropdown" href="#">TCC<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><%=link_to 'Daños', new_tcc_damage_sample_path%></li>
    <li><%=link_to 'Calibre y desviacion', new_tcc_caliber_sample_path%></li>
    <!-- NOTE Aqui iria T° -->
  </ul>
</li>
