<div class= "container-samples">
  <div class= "pestaña"><%=process_name.capitalize%></div>
    <div class="outside-new-form green-outside-new-form ">
      <h1><span class= "glyphicon glyphicon-list-alt"></span> Calibre</h1>
        <%= render "form", caliber_sample: caliber_sample, type: type %>
    </div>
</div>
