
  <h1>Bienvenido!</h1>
  <p>Ahora todas las muestras se podran realizar en un solo lugar.</p>
  <p>Arriba puedes escoger el tipo de muestra que tomaras.</p>
  <p>Recuerda que cuando se cierre la sesion, puesdes volver a ingresar con tu nombre y rut.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Aprender mas</a></p>
