
  <h1>Bienvenido!</h1>
  <p>Ahora todas las muestras se podran realizar en un solo lugar.</p>
  <p>Arriba puedes escoger el tipo de muestra que tomarás.</p>
  <p>Recuerda que si se cierre la sesión, podrás volver a ingresar con tus credenciales.</p>
  <p><%=
  # image_tag 'logo.jpg', width: 250
  %></p>
