<div class="container-small">
<div class="jumbotron">

  <%if user_type == "User"%>
    <%= render 'welcome_user' %>
  <%elsif user_type == "UserControl"%>
    <%= render 'welcome_user_control' %>
  <%end%>
</div>
</div>
