<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="container">
<div class="jumbotron">
  <h1>Bienvenido <%=nombre%> a Agsistem!</h1>
  <p>Por ahora la funcionalidad es limitada, pero nuestro trabajo aun no termina</p>
  <p>Recuerda cerrar tu sesion cada vez que dejes el computador</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
</div>
