
<div class= "container">
<div class= "pestaña">CALIBRADO</div>
<div class="outside-new-form blue-outside-new-form">
  <h1><span class= "glyphicon glyphicon-list-alt"></span> Muestra de calibre </h1><!--<span class= 'bold'>SECADO</span>-->
<%= render 'form_new', caliber_sample: @caliber_sample %>

</div>
</div>
