<div class="wrapper-new-forms">
  <h1><span class= "glyphicon glyphicon-list-alt"></span> Muestra de calibre <span class= 'bold'>SECADO</span></h1>
<%= render 'form_new', caliber_sample: @caliber_sample %>

</div>
