/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */
 //TODO-- *= require_tree . -- comentado para poder usar page specific css

 //Agregado para que funcione bootstrap##
 @import "bootstrap-sprockets";
 @import "bootstrap";

 //Agregado para que funcione css Vendor files
 // @import "sweetalert.css";

 $icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";

//  COLORES:
//  V.Oscuro: #005105
//  V. claro,(dentro O): #93c200
//  Naranjo: Desde (#ffbf12,(255,191,18,1)), hasta (#f16600, (241,102,0,1))


.navbar-nav {
  // font-weight: bold;
  font-size: 16px; //Anted estaba en 18
}

.selected{ // TODO When we are in a namespace the button will be painted
  font-weight: bold;
  background-color: rgb(53,98,68);
  // background-color: #005105; // V. oscuro logo
  background-color: #093145; // Azul
  color: white !important;
}

 body {
 	background: #eee !important;
 }

// div.tag{
//    border-radius: 5px 5px 0px 0px;
//    color: black;
//    letter-spacing: 10px;
//    font-weight: bold;
//    font-size: 26px;
//    background-color: rgb(180,216,231);
//  }

.table-tight{
  width: 0; //Permite que tabla ocupe solo espacion necesario
  margin: 0 auto;
  max-width: 90%
}

.container-table{
  text-align:center;
}

// Permite Centrar Encabezado
.centered{
  margin: 0 auto;
  text-align: center;
  span{
    color: green;
    font-weight: bold;
  }
}

//Separar encabezado de lo que esta abajo
.separated{
  margin-bottom: 20px;
}

.container{
   margin: 0 auto;
  //  width: 1000px; //TODO: Revisar que tablas se vean bien
  // background-color: rgb(169,224,180);
  // background-color: rgb(255,217,102);
  // background-color: rgb(201,201,201);
  // background-color: rgb(224,176,132);
}
.container-small{
   margin: 0 auto;
   width: 500px;
}
.container-samples{
   margin: 0 auto;
   width: 400px;
}

.pestaña{
  width: 160px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  border-radius: 15px 15px 0px 0px;
  border-top:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
  text-align: center;
  background-color: #093145;
  color: white;
}

 .outside-new-form{
   align-self: center;
 	 margin-top: 10px;
   margin-bottom: 40px;
   border:1px solid black;
   border-radius: 0px 5px 1px 1px;
   width:400px;
   margin: 0 auto;
   text-align: center;
   letter-spacing: 1px;
   background-color: #093145;
   color: rgb(180,216,231);
 }

 .inside-new-form{
   letter-spacing: 0px;
   color: black;
   //background-color: #8093BE;
  //  margin: 0 auto;
   border:1px solid black;
   border-radius: 5px 5px 0px 0px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top:20px;
   padding-bottom:20px;
   background-color: rgb(180,216,231);
 }



//PARECE QUE YA NADA LO OCUPA!!
.container-last-samples {
  padding-top: 30px;
  width:500px;
  margin: 0 auto;
}





//FORMS CSS
.field {
  padding-bottom: 10px;
}
.actions{

}
//div.actions
input[type=submit]{
  margin-top: 15px;
  //margin-right: 10px;
  //width: 75%;
  //height: 50px;
  //margin-left: 10%;
    //align-self: center;
    //align-content: center;
}
.field select{
  width: 174px;
  height: 26px;


}

.field label{
  display: inline-block;
  min-width: 130px;
  text-align: right;
  margin-bottom: 0px;
}


// .field label[class=vertical] {
.field label.vertical {
  display: block;
  text-align: left;
}

// .field input[class=vertical] , .field select[class=vertical] {
.field input.vertical , .field select.vertical {
  display: block;
  margin-bottom: 3px;
  width: 140px;
}

input[type=text]:focus {
    border: 2px solid rgb(255,187,150);
}

.btn-edit, .btn-back {
  display: inline-block;
  margin-top: 15px;
}
.btn-back {
   margin-left: 140px;
   margin-right:20px;
}


// Bigger alerts! to overwrite sweetalerts css
.big-alert {
  // width:500px;
  // margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
}


  //////////////////////////////////////////////
  //////// CONFIGURACION DE TABLAS EN NEW  /////
  //////////////////////////////////////////////
.container-last-samples.caliber{
  width: 500px;
  td, th {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.container-last-samples.damages{
  width: 450px;
  td, th {
    padding-left: 3px;
    padding-right: 3px;
  }
}

// Specific css for damage_samples controller
#damage_samples{
  // FIXME creo que estos css van a agarrar cosas extra (por el . junto)
  // .container-last-samples.tiernizado{ width: 1400px; }
  // .container-last-samples.ensacado{ width: 1400px; }
  // .container-last-samples.secado{ width: 1400px; }
  // .container-last-samples.fresco{ width: 1000px; }
  .container-samples{
     width: 450px;
   }

  .outside-new-form{
     width:450px;
    }

    //FORMS CSS
    .field {
      padding-bottom: 2px;
    }
    .field label{
      min-width: 130px;
    }

  .field input[type=number] {
      width: 80px;
      margin-right: 5px; // Hace que no este centrado!
    }
}






///////////////////////////////
///// Show of samples /////
///////////////////////////////
.container-for-sample{
  max-width: 450px;
  margin: 0 auto;
  border:1px solid black;
  .links-below-show{
    border-top:1px solid black;
    text-align: center;
  }
}
.title-show{
  padding-top: 3px !important;
  padding-bottom: 2px !important;
  max-height: 34px;
  background-color: #093145; // Azul
  color: white;
}

.display-weight{
 width: 230px;
 margin: 0 auto;
}
.display-damages{
 width: 400px;
 margin: 0 auto;
 font-size: 13px;
 td {
   padding: 1px !important;
 }
}

.total{
 border-top: 2px solid #888;
}
///////////////////////////////
///////////////////////////////
///////////////////////////////


// .show_damage_sample{
//     background-color: white;
//     font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//     width: 478px;
//     padding: 17px;
//     border-radius: 5px;
//     text-align: center;
//     position: fixed;
//     left: 50%;
//     top: 50%;
//     margin-left: -256px;
//     margin-top: -200px;
//     overflow: hidden;
//     // display: none;
//     display: block;
//     z-index: 99999;
// }



///////////////////////////////
///// Forms inside tables /////
///////////////////////////////
.table-with-forms{
  td{
    vertical-align: middle !important;
  }
}
.table{
  input[type=submit] { //NOTE seria mejor reemplazarlo por class btn btn-primary btn-xs
    margin-top: 10px;
    height: 25px;
    font-size: 13px;
    padding: 0px 3px 0px 3px;
    border-radius: 0px;
  }

  .field-table{
    margin-top: 10px;
    margin-right: 8px;
    select{
      height: 24px;
      min-width: 120px;
    }
  }
}



///////////////////////////////
///////////////////////////////
// Para usarlo en formularios basicos distintos a los de muestras
.form-basic{
    max-width: 380px;
    padding: 15px 35px 15px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


//////////////////////////////////////////////////////////////
/////////////// Estilos de error en formularios /////////////
//////////////////////////////////////////////////////////////

.field-with-errors{
  background-color: #f3dadd !important; // Light red
  border: 1px solid #ff4040 !important;// Almost red
}
