/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 //Agregado para que funcione bootstrap##
 @import "bootstrap-sprockets";
 @import "bootstrap";

 //Agregado para que funcione css Vendor files
 // @import "sweetalert.css";

 $icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";

.navbar-nav {
  //font-weight: bold;
  font-size: 18px;
}

 body {
 	background: #eee !important;
 }

// div.tag{
//    border-radius: 5px 5px 0px 0px;
//    color: black;
//    letter-spacing: 10px;
//    font-weight: bold;
//    font-size: 26px;
//    background-color: rgb(180,216,231);
//  }


.container{
   margin: 0 auto;
  //  width: 1000px; //TODO: Revisar que tablas se vean bien
  // background-color: rgb(169,224,180);
  // background-color: rgb(255,217,102);
  // background-color: rgb(201,201,201);
  // background-color: rgb(224,176,132);
}
.container-small{
   margin: 0 auto;
   width: 500px;
}
.container-samples{
   margin: 0 auto;
   width: 400px;
}

.pestaña{
  // margin-right: 20px;
  width: 160px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  border-radius: 15px 15px 0px 0px;
  border-top:1px solid black;
  border-left:1px solid black;
  border-right:1px solid black;
  text-align: center;
  background-color: #093145;
  color: white;
}

 .outside-new-form{
   align-self: center;
 	 margin-top: 10px;
   margin-bottom: 40px;
   border:1px solid black;
   border-radius: 0px 5px 1px 1px;
   width:400px;
   margin: 0 auto;
   text-align: center;
   letter-spacing: 1px;
   background-color: #093145;
   color: rgb(180,216,231);
 }

 .inside-new-form {
   letter-spacing: 0px;
   color: black;
   //background-color: #8093BE;
  //  margin: 0 auto;
   border:1px solid black;
   border-radius: 5px 5px 0px 0px;
   padding-left: 20px;
   padding-right: 20px;
   padding-top:20px;
   padding-bottom:20px;
   background-color: rgb(180,216,231);
 }

 // .blue-outside-new-form{
 //   background-color: #093145;
 //   color: rgb(180,216,231);
 //   //color: white;
 // }
 // .blue-inside-new-form{
 //   background-color: rgb(180,216,231);
  // }
  // .green-outside-new-form{
  //    background-color: rgb(55,86,35);
  //    color: rgb(198,224,180);
  // }
  // .green-inside-new-form{
  //     background-color: rgb(198,224,180);
  //  }



//PARECE QUE YA NADA LO OCUPA!!
.container-500px {
  padding-top: 5%;
  width:500px;
  margin: 0 auto;
  /*margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 40px;
*/
}


//FORMS CSS
.field {
  padding-bottom: 10px;
}
.actions{

}
//div.actions
input[type=submit]{
  margin-top: 15px;
  //margin-right: 10px;

  //width: 75%;
  //height: 50px;
  //margin-left: 10%;
    //align-self: center;
    //align-content: center;

}

.field label{
  display: inline-block;
  min-width: 120px;
  text-align: right;
}
input {
}
input[type=text]:focus {
    border: 2px solid rgb(255,187,150);
}

.btn-edit, .btn-back {
  display: inline-block;
  margin-top: 15px;
}
.btn-back {
   margin-left: 140px;
   margin-right:20px;
}
