// Place all the styles related to the DamageSamples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-samples{
  width: 450px;
}

 .outside-new-form{
  width:450px;
 }

 //FORMS CSS
 .field {
   padding-bottom: 0px;
 }
 .field label{
   min-width: 130px;
 }

 .field input[type=number] {
   width: 80px;
   margin-right: 5px; // Hace que no este centrado!
 }
