<p>Hello <%= @resource.email %>!</p>

<p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

<p>Click the link below to unlock your account:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>


<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada por una excesiva cantidad de intentos de ingresar.</p>

<p>Cliquea el link de abajo para desbloquearla:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
