<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drying_method.name %>
</p>

<%= link_to 'Edit', edit_drying_method_path(@drying_method) %> |
<%= link_to 'Back', drying_methods_path %>
